/* Define custom font faces */
@font-face {
    font-family: "Wix Madefor Display";
    src: url('/pluginfile.php/1/theme_boost_union/customfonts/0/WixMadeforDisplay-VariableFont_wght.ttf')
        format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url('/pluginfile.php/1/theme_boost_union/customfonts/0/OpenSans-Regular.woff')
        format("woff");
    font-weight: 400;
    font-style: normal;
}

/* Base font styles */
body {
    font-family: "Wix Madefor Display", "Open Sans", sans-serif;
    font-size: 16px; /* Adjust base size as needed */
}

/* Smaller font size for mobile devices */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Reduce font size for mobile */
    }
    
    /* Optional: Further reduce the font size for very small screens */
    @media (max-width: 480px) {
        body {
            font-size: 13px;
        }
    }
}

/* Hide Mahara submission in Assignment */
label.form-check:has(> #id_assignsubmission_mahara_enabled),
#id_error_assignsubmission_mahara_enabled + a {
    display: none;
}

/* Page background colour to white */
#page {
    background: white;
}

/* Change the background colour of the Footer to White */
body:not(.backgroundimage):not(.loginbackgroundimage) #footnote {
        background-color: white;
    }

/* Size of  the logo */
.navbar.fixed-top .navbar-brand .logo {
        width: 48px;
        height: auto;
	max-height: unset !important;
}

/* Size of the navbar (originally 61px) */
.navbar.fixed-top {
    height: 48px;
}

/* Size of page (originally 60px) */
#page.drawers {
    margin-top: 48px;
}

/* change the size of the buttons on the navbar (originally 60px) */
.primary-navigation .navigation .nav-link {
    height: 51px;
}

/* size of selected buttons */
.primary-navigation .navigation {
    height: 55px;
}

/* Size of screen at top after reduction in the navbar size */
@media (min-width: 992px) {
    .drawer-left, .drawer-right {
        top: 48px;
    }
}

/* motifications reduction in the distance from top needed because of the reduction of the navbar */
.navbar .popover-region-container {
    top: 48px;
}

/* Chat pop out reduction in the distance from top needed because of the reduction of the navbar */
[data-region=right-hand-drawer].drawer {
    top: 48px;
}

/* make all admin and grade pages appear full screen width */
[id^="page-admin"] .main-inner, [id^="page-grade"] .main-inner {
    max-width: 100% !important;
}

/* make all admin pages rows white */
[id^="page"] .row {
    background-color: #FFFFFF;
}

/* make report pages rows back to original setting */
[id^="page-blocks-reportsdash-report"] .row {
    background-color: unset;
}

/* Start of Footer changes */

/* Size and postitioning of logo for mobiles */
@media (max-width: 767px) {
    .footer-logo {
        width: 100px;
        height: auto;
	text-align: left !important;
    }
    #footnote {
        margin-left: unset;
        margin-right: unset;
    }
}

@media (min-width: 768px) {
#footnote {
        margin-left: -3rem !important;
        margin-right: -3rem !important;
}
#footnote .footer-upper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 3rem 0.5rem;
    border-top: 1px solid #8295b5;
}
#footnote .footer-upper {
        flex-direction: row;
        justify-content: space-between;
        padding: 3rem calc(3.5rem + 15px) 2rem;
}
#footnote {
        padding: 0 3rem;
        border-top: 1px solid #8295b5 !important;
}
#footnote .footer-upper {
        max-width: calc(1200px + 7rem);
        margin: 0 auto;
        padding: 3rem calc(3.5rem + 15px) 2rem;
        border-top: none;
}
#footnote .footer-upper {
        max-width: calc(1200px + 7rem);
        padding: 3rem calc(4rem + 15px) 2rem;
}
#footnote .footer-upper .footer-logo img {
    width: 132px;
}
#footnote .footer-upper .footer-links ul {
    margin: 0 0 1.5rem;
    padding: 0;
    list-style: none;
}
#footnote .footer-upper .footer-links.social ul {
    display: flex;
    gap: 1.5rem;
}
#footnote .footer-upper .footer-links.social ul a {
    position: relative;
    display: flex;
    color: #005ad2;
}
#footnote .footer-upper .footer-links.social ul a:hover {
    text-decoration: none;
    color: #002395;
}
#footnote .footer-upper .footer-links.social ul a i {
    font-size: 2.25rem;
}
#footnote .footer-lower {
    display: block;
    border-top: 1px solid #bccbcd;
    padding: 1.5rem 0.5rem 3rem;
    text-align: center;
}
#footnote .footer-lower .tel {
    display: block;
    margin-top: 1rem;
  }
}

/* End of Footer changes */

/* Change back to top, Help and sidebar popout colours */
#back-to-top, .drawer-toggles .drawer-right-toggle .btn, .drawer-toggles .drawer-left-toggle .btn, .drawer-toggles .drawer-toggler .btn:focus, .btn.btn-icon.bg-secondary.icon-no-margin.btn-footer-popover {
    color: white!important;
    background-color: #005AD2 !important;
}

/* Remove the padding at the top of a modal dialog box */
.modal-dialog, .modal-dialog .modal-dialog-scrollable {
    padding-top: unset!important;
 }

/* reset the top on some modal boxes */
.box .modal-content {
    margin-top: 15px;
}

/* Adjust the labels like 'Add method' dropdown in Enrolment methods page & labels on Permissions page */
#page-enrol-instances label, #page-admin-roles-permissions label {
    padding-right: 10px;
	margin-bottom: unset;
}	
